<div style="text-align: center;">
  <h1>
    Semillero LandSoft
  </h1>
  <h2>
    Lista de Vuelos
  </h2>
  <div class="d-flex justify-content-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Aerolinea</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Fecha llegada</th>
          <th scope="col">Fecha salida</th>
          <th scope="col">Id vuelo</th>
          <th scope="col">Capacidad</th>
        </tr>
      </thead>
      <tbody *ngFor="let el of arregloVuelos">
        <tr
          class="let i = index"
          (click)="navegacionListPasajeros('listado-pasajeros' , el.idVuelo )"
        >
          <td>{{el.aelolinea}}</td>
          <td>{{el.ciudad}}</td>
          <td>{{el.fecha_llegada}}</td>
          <td>{{el.fecha_salida}}</td>
          <td>{{el.idVuelo}}</td>
          <td>{{el.pasajeros}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
