<div style="text-align: center;">
  <h1>
    {{"LandSoft seedbed" | translate }}
  </h1>
  <h2>
    {{"Flight list" | translate }}
  </h2>
  <div class="d-flex justify-content-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{{"Flight ID" | translate }}</th>
          <th scope="col">{{"Airline" | translate }}</th>
          <th scope="col">{{"City" | translate }}</th>
          <th scope="col">{{"Arrival date" | translate }}</th>
          <th scope="col">{{"Departure date" | translate }}</th>
          <th scope="col">{{"Capacity" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngFor="let el of arregloVuelos">
        <tr
          class="let i = index"
          (click)="navegacionListPasajeros('listado-pasajeros' , el.idVuelo )"
        >
          <td>{{el.idVuelo}}</td>
          <td>{{el.aelolinea}}</td>
          <td>{{el.ciudad}}</td>
          <td>{{el.fecha_llegada}}</td>
          <td>{{el.fecha_salida}}</td>
          <td>{{el.pasajeros}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
