<div style="text-align: center;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Taller Vuelos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="http://localhost:4200/"
          >{{"Main" | translate }}</a
        >
      </div>
    </div>
  </nav>

  <h1>
    {{"Passengers list" | translate }}
  </h1>

  <div class="d-flex justify-content-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Acciones</th>
          <th scope="col">{{"Name" | translate }}</th>
          <th scope="col">{{"Chair" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngFor="let el of arregloPasajeros">
        <tr class="let i = index" (click)="navegacion('gestionar-pasajeros')">
          <td>
            <a class="btn btn-primary" href="#" role="button">Eliminar</a>
            <a class="button_margin_list btn btn-primary" href="#" role="button"
              >Modificar</a
            >
          </td>
          <td>{{el.nombre}}</td>
          <td>{{el.numero_asiento}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    [routerLink]="['/gestionar-pasajeros']"
    routerLinkActive="router-link-active"
    type="button"
    class="button_margin btn btn-dark"
  >
    {{"Create" | translate }}
  </button>
</div>
