<div style="text-align: center;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Taller Vuelos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="http://localhost:4200/"
          >{{"Main" | translate }}</a
        >
      </div>
    </div>
  </nav>

  <h1>
    {{"Manage a passenger" | translate }}
  </h1>

  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputcedula">{{"Identification card" | translate }}</label>
      </div>
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          id="inputCedula"
          placeholder="Ingrese la cedula"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputnombre">{{"Name" | translate }}</label>
      </div>
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          id="inputnombre"
          placeholder="Ingrese el nombre"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputdireccion">{{"Addres" | translate }}</label>
      </div>
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          id="inputdireccion"
          placeholder="Ingrese la dirección"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputedad">{{"Age" | translate }}</label>
      </div>
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          id="inputedad"
          placeholder="Ingrese la edad"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputnumero_asiento">{{"Chair number" | translate }}</label>
      </div>
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          id="inputnumero_asiento"
          placeholder="Ingrese el numero de silla"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputVuelo_id_Vuelo">{{"Flight" | translate }}</label>
      </div>
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          id="inputIdVuelo"
          placeholder="Ingrese el id del vuelo"
        />
      </div>
    </div>
  </form>
  <button
    type="button"
    [routerLink]="['/gestionar-pasajeros']"
    routerLinkActive="router-link-active"
    class="button_margin btn-outline-primary"
  >
    {{"Create" | translate }}
  </button>

  <button
    type="button"
    [routerLink]="['/gestionar-pasajeros']"
    routerLinkActive="router-link-active"
    class="button_margin btn-outline-primary"
  >
    {{"Update" | translate }}
  </button>
  <button
    type="button"
    [routerLink]="['/gestionar-pasajeros']"
    routerLinkActive="router-link-active"
    class="button_margin btn-outline-primary"
  >
    {{"Remove" | translate }}
  </button>
</div>
